<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin:350px auto; width: 200px; background-color: #FFFAFA;">
<form action="/api/login" method="post">
    <input placeholder="Nickname or email" style="font-size: 13px; margin-bottom: 5px" name="username" type="text" id="username">
    <input placeholder="Password" style="font-size: 13px" name="password" type="password" id="password">
    <button style="margin-top: 7px; font-size: 15px" type="submit" class="btn btn-primary">Let's go!</button>
    <div style="margin-top: 10px" class="alert alert-danger" role="alert">
        If you are not registered, click here --> <a href="/api/registration" style="text-decoration: none; color: black" class="alert-link">Registration</a>
    </div>

</form>
</div>
</body>
</html>
