<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin:350px auto; width: 200px; background-color: #FFFAFA;">
<form action="/api/registration" method="post">
    <p>Registration</p>
    <input placeholder="Nickname or email" style="font-size: 13px; margin-bottom: 5px" name="username" type="text" id="username">
    <input placeholder="Password" style="font-size: 13px" name="password" type="password" id="password">
    <button style="margin-top: 7px; font-size: 15px" type="submit" class="btn btn-primary">Let's go!</button>
</form>
</div>
</body>
</html>